<h1>Rock, Paper, Scissors</h1>
<form action="/score" method="get">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="player_one">Player 1</label>
        <select id="player_one" name="player_one" class="form-control">
          <option>Rock</option>
          <option>Paper</option>
          <option>Scissors</option>
        </select>
      </div>
      <!-- <div class="col-sm-4">
        <label for="player_two">Player 2</label>
        <select id="player_two" name="player_two" class="form-control">
          <option>Rock</option>
          <option>Paper</option>
          <option>Scissors</option>
        </select>
      </div> -->
    </div>
  </div>
  <button type="submit" class="btn-success">Play</button>
</form>
