<h1>Rock, Paper, Scissors</h1>
<form class="player" action="/ai" method="get">
  <button class="btn-danger" type="submit" name="reset">1 Player</button>
</form>
<form class="player" action="/player" method="get">
  <button class="btn-danger" type="submit" name="reset">2 Player</button>
</form>
